extends ../layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/topic.css')

block content
    h1= title
    main#main.site-main(role=main)
      each topic in topics
        article.post
          figure.entry-cover-image
            a(href='/topic/#{topic._id}')
              img(alt=topic._id, src=topic.cover ? '/images/covers/' + topic.cover : '/images/kn1.jpg')
          div.entry-info
            header.entry-header
              a(href='/topic/#{topic._id}') #{topic.title}
              span.new-icon.pull-right.deepskyblue-box NEW
            .entry-content
              .archive-content 内容: #{topic.shortContent}
                span.title-left-mark
              .entry-meta
                  span.date= topic.shortPostDateTime
                  span.views 浏览数: #{topic.visit}
                  span.comment
                    a(href='/topic/#{topic._id}#comment') 发表评论
                  span.entry-more.pull-right.deepskyblue-box
                    a.hover-font-size-bigger(href='/topic/#{topic._id}') 阅读全文
